:root {
  --contact-container-margin: 0.5em;
}

/* Heading 1 */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000; /* black */
}

/* Heading 2 */
h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000; /* black */
}

/* Heading 3 */
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000; /* black */
}

/* Heading 4 */
h4 {
  font-size: 18px;
  font-weight: bold;
  color: #000; /* black */
}

/* Heading 5 */
h5 {
  font-size: 16px;
  font-weight: bold;
  color: #000; /* black */
}

/* Heading 6 */
h6 {
  font-size: 14px;
  font-weight: bold;
  color: #000; /* black */
}

/* Body */
body {
  font-size: 16px;
  line-height: 1.5; /* Adjust line height for better readability */
  font-family: Arial, sans-serif; /* Specify preferred font family */
  color: #000; /* black */
}

/* Contact */
section.contact {
  display: flex;
}
.contact.container {
  margin-left: var(--contact-container-margin);
  margin-right: var(--contact-container-margin);
}
.contact.container::after {
  content: "|";
  margin-left: calc(var(--contact-container-margin) * 2);
}
.contact.container:last-child::after {
  content: initial;
}
