{% set meta = resume.meta %}
{% set header = resume.header %}
{% set email = resume.email %}
{% set location = resume.location %}
{% set linkedin = resume.linkedin %}
{% set summary = resume.summary %}
<html>
  <head>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>{{ meta["TITLE"] }}</title>
  </head>
  <body>
      <main>
        <section>
          <main>
            {% include "partials/_name.html" %}
          </main>
        </section>
        <section>
          <main>
            {% include "partials/_contact.html" %}
          </main>
        </section>
        <section>
          <header>
            <h3>Professional Summary</h3>
          </header>
          <main>
            {% include "partials/_summary.html" %}
          </main>
        </section>
        <section>
          <header>
            <h3>Skills</h3>
          </header>
          <main>
            <ul class="skill">
              {% for skill in resume.skills %}
                <li>{% include "partials/_skill.html" %}</li>
              {% endfor %}
            </ul>
          </main>
        </section>
        <section>
          <header>
            <h3>Experience</h3>
          </header>
          <main>
            <ul>
              {% for job in resume.jobs %}
                <li>{% include "partials/_job.html" %}</li>
              {% endfor %}
            </ul>
          </main>
        </section>
        <section>
          <header>
            <h3>Awards</h3>
          </header>
          <main>
            <ul>
              {% for award in resume.awards %}
                <li>{% include "partials/_award.html" %}</li>
              {% endfor %}
            </ul>
          </main>
        </section>
        <section>
          <header>
            <h3>Education</h3>
          </header>
          <main>
            <ul>
              {% for education in resume.education_history %}
                <li>{% include "partials/_education.html" %}</li>
              {% endfor %}
            </ul>
          </main>
        </section>
      </main>
  </body>
</html>
