{% set meta = resume.meta %}
{% set header = resume.header %}
{% set email = resume.email %}
{% set location = resume.location %}
{% set linkedin = resume.linkedin %}
<html>
  <head>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>{{ meta["TITLE"] }}</title>
  </head>
  <body>
      <main>
        <section>
          <main>
            {% include "partials/_name.html" %}
          </main>
        </section>
        <section>
          <main>
            {% include "partials/_contact.html" %}
          </main>
        </section>
        <section>
          <header>
            <h3>Skills</h3>
          </header>
          <main>
            {% include "partials/_skills.html" %}
          </main>
        </section>
        <section>
          <header>
            <h3>Experience</h3>
          </header>
          <main>
            {% include "partials/_experience_list.html" %}
          </main>
        </section>
      </main>
  </body>
</html>
