{% set email = contact["email"] %}
<html>
  <head>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1 id="name">
        <span>{{ header['name_first'] }}</span>
        <span class="punctuation">{{ " " }}</span>
        <span>{{ header['name_last'] }}</span>
      </h1>
      <div class="contact">
        <a href="mailto:{{ email }}" class="email">{{ email }}</a>
      </div>
    </header>
  </body>
</html>
