<template>
    <section>
        <header>
            <hgroup>
                <h1 id="name">John Doe</h1>
                <ul id="contact">
                    <li>
                        <span id="address">1234 Elm St, Springfield, IL 62701</span>
                    </li>
                    <li>
                        <span id="email">johndoe@example.com</span>
                    </li>
                </ul>
                <ul id="social">
                    <li>
                        <span id="website">www.example.com</span>
                    </li>
                    <li>
                        <span id="linkedin">www.linkedin.com/in/johndoe</span>
                    </li>
                    <li>
                        <span id="github">www.github.com/johndoe</span>
                    </li>
                </ul>
            </hgroup>
        </header>
        <main>
            <h2></h2>
        </main>
    </section>
</template>